<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="row">
    <div class="col-2">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end scrollspy">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#item-1">Discover</a>
          <nav class="nav nav-pills flex-column">
          </nav>
          <a class="nav-link" href="#item-2">Indie</a>
          <a class="nav-link" href="#item-3">Shooters</a>
          <a class="nav-link" href="#item-4">Platformers</a>
          <nav class="nav nav-pills flex-column">
          </nav>
        </nav>
      </nav>
    </div>
  
    <div class="col-10">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div id="item-1">
          <!-- Discover Element -->
          <div class="container">
            <h1>Discover</h1>
            <div class="fixed-size-container" style="width: 100%; display: flex; overflow-x: auto; box-sizing: border-box;">
              <div class="hide-scrollbar overflow-x-scroll" style="white-space: nowrap; display: flex;">
                <% games.forEach(game => { %>
                  <div style="flex: 1; white-space: normal; margin-right: 10px;">
                    <div class="card" style="width: 18rem; display: flex; flex-direction: column; height: 100%;">
                      <img src="<%= 'https://images.igdb.com/igdb/image/upload/t_cover_big/' + game.cover.image_id + '.jpg' %>" class="card-img-top" alt="<%= game.name %>"/>
                      <div class="card-body" style="flex: 1;">
                        <h5 class="card-title"><%= game.name %></h5>
                        <p class="card-text" style="flex: 1;">
                          <% game.genres.forEach((genre, index) => { %> <%=
                          `${genre.name}${index < game.genres.length - 1 ? ',' : ''} ` %>
                          <% }); %>
                        </p>
                        <a href="/game/<%= game.id %>" class="btn btn-primary butn" style="position: relative;">View Game</a>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
        
            <div id = "partition" style = "height: 60px;"></div>
        </div>

        <div id="item-2">
          <div class="container">
            <!-- Indie Element -->
            <h1>Indie</h1>
            <div class="fixed-size-container" style="width: 100%; display: flex; overflow-x: auto; box-sizing: border-box;">
              <div class="hide-scrollbar overflow-x-scroll" style="white-space: nowrap; display: flex;">
                <% indieGames.forEach(game => { %>
                  <div style="flex: 1; white-space: normal; margin-right: 10px;">
                    <div class="card" style="width: 18rem; display: flex; flex-direction: column; height: 100%;">
                      <img src="<%= 'https://images.igdb.com/igdb/image/upload/t_cover_big/' + game.cover.image_id + '.jpg' %>" class="card-img-top" alt="<%= game.name %>"/>
                      <div class="card-body" style="flex: 1;">
                        <h5 class="card-title"><%= game.name %></h5>
                        <p class="card-text" style="flex: 1;">
                          <% game.genres.forEach((genre, index) => { %> <%=
                          `${genre.name}${index < game.genres.length - 1 ? ',' : ''} ` %>
                          <% }); %>
                        </p>
                        <a href="/game/<%= game.id %>" class="btn btn-primary butn" style="position: relative;">View Game</a>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
        
            <div id = "partition" style = "height: 60px;"></div>
        </div>

        <div id="item-3">
          <!-- Shooters Element -->
          <div class="container">
            <h1>Shooters</h1>
            <div class="fixed-size-container" style="width: 100%; display: flex; overflow-x: auto; box-sizing: border-box;">
              <div class="hide-scrollbar overflow-x-scroll" style="white-space: nowrap; display: flex;">
                <% adventureGames.forEach(game => { %>
                  <div style="flex: 1; white-space: normal; margin-right: 10px;">
                    <div class="card" style="width: 18rem; display: flex; flex-direction: column; height: 100%;">
                      <img src="<%= 'https://images.igdb.com/igdb/image/upload/t_cover_big/' + game.cover.image_id + '.jpg' %>" class="card-img-top" alt="<%= game.name %>"/>
                      <div class="card-body" style="flex: 1;">
                        <h5 class="card-title"><%= game.name %></h5>
                        <p class="card-text" style="flex: 1;">
                          <% game.genres.forEach((genre, index) => { %> <%=
                          `${genre.name}${index < game.genres.length - 1 ? ',' : ''} ` %>
                          <% }); %>
                        </p>
                        <a href="/game/<%= game.id %>" class="btn btn-primary butn" style="position: relative;">View Game</a>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
        
            <div id = "partition" style = "height: 60px;"></div>
        </div>
        <div id="item-4">
          <!-- Platformers Element -->
          <div class="container">
            <h1>Platformers</h1>
            <div class="fixed-size-container" style="width: 100%; display: flex; overflow-x: auto; box-sizing: border-box;">
              <div class="hide-scrollbar overflow-x-scroll" style="white-space: nowrap; display: flex;">
                <% platformers.forEach(game => { %>
                  <div style="flex: 1; white-space: normal; margin-right: 10px;">
                    <div class="card" style="width: 18rem; display: flex; flex-direction: column; height: 100%;">
                      <img src="<%= 'https://images.igdb.com/igdb/image/upload/t_cover_big/' + game.cover.image_id + '.jpg' %>" class="card-img-top" alt="<%= game.name %>"/>
                      <div class="card-body" style="flex: 1;">
                        <h5 class="card-title"><%= game.name %></h5>
                        <p class="card-text" style="flex: 1;">
                          <% game.genres.forEach((genre, index) => { %> <%=
                          `${genre.name}${index < game.genres.length - 1 ? ',' : ''} ` %>
                          <% }); %>
                        </p>
                        <a href="/game/<%= game.id %>" class="btn btn-primary butn" style="position: relative; background-color: ;">View Game</a>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
        
            <div id = "partition" style = "height: 60px;"></div>
        </div>
      </div>
    </div>
  </div>

<%- include ('../partials/footer') %>
