<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Discover</h1>
    <div>
      <table>
        <tr style="background-color: rgb(188, 188, 188);">
          <th>Name</th>
          <th style="padding-right: 30px; padding-left: 20px;">Rating</th>
          <th>Genres</th>
          <th>Cover Art</th>
        </tr>
        <% games.forEach(game => { %>
          <tr style="border-bottom: groove; border-color: aqua;">
            <td>
              <a href="http://localhost:3000/game/<%= game.id %>"><%= game.name %></a>
              </td>
            <td style="font-weight: bold; padding-right: 30px; padding-left: 20px;"><%= game.aggregated_rating %></td>
            <td>
              <% game.genres.forEach((genre, index) => { %>
                <%= `${genre.name}${index < game.genres.length - 1 ? ',' : ''} ` %>
              <% }); %>
            </td>
            <td>
              <img src="<%= 'https://' + game.cover.url %>" alt="Game Cover" style="height: 150px;">
            </td>
          </tr>
        <% }); %>
      </table>
      
  </div>
  
</main>

<%- include ('../partials/footer') %>
