<%- include ('../partials/head') %> <%- include ('../partials/menu') %>
<main>
    <div class="container center" style="background-color: rgb(73, 68, 68); margin: 250px; transform: translate(-69%,-15%); height: 1300px;">        
        <div id="Game Contents Top Left" style="display: inline-block;">
            <h1 style="color: white; font-weight: bolder;"><%= IGDB[0].name %></h1>
            <% try{ %>
                <h5 style="color: rgb(182, 182, 182);">Content Warnings: <% IGDB[0].age_ratings[1].content_descriptions.forEach((desc, index) => { %> <%=
                    `${desc.description}`  %>
                    <% }); %> </h5>
            <% } catch (error) { %>
                None to be listed
            <% } %>
        </div>
        <div id="Game Contents Top Right" style="display: inline-block;">
            <div id="Game Contents Top Right" style="display: inline-block;">
                <h5 style="color: rgb(182, 182, 182);">User Ratings! <%= IGDB[0].aggregated_rating %> </h5>
        </div>
        <div class="card center" style="width: 55rem; height: 750px; transform: translate(-50%, -43%); background-color: rgb(73, 68, 68); border: none;">
            <img class="card-img-top" style="height: 600px;" src="<%= 'https://' + IGDB[0].cover.url %>" alt="Game Screenshot">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= IGDB[0].storyline %></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Back To Top</a>
              <a href="#" class="card-link">Another link</a>
              <div id="target-data">
                <h1>Where to Buy!</h1>
                <h2><a href="https://www.target.com/s?searchTerm=<%= IGDB[0].name %>">Target</a></h2>
                <h2><a href="https://www.amazon.com/s?k=<%= IGDB[0].name %>">Amazon</a></h2>
                <h2><a href="https://www.gamestop.com/search/?q=<%= IGDB[0].name %>">GameStop</a></h2>
            </div>
            </div>
          </div>
        </div>
</main>

<%- include ('../partials/footer') %>