<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<main>
  <div class="container" style="background-color: #373737; color: white">
    <div class="game-info text-left">
      <h1><%= IGDB[0].name %></h1>

      <div style="display: flex;">

        <div style="flex: 1;">
          <div class="content-warnings">
            <% try { %>
            <% let allDescriptions = ""; IGDB[0].age_ratings[1].content_descriptions.forEach((desc, index) => { allDescriptions +=
            `${desc.description}`; if (index < IGDB[0].age_ratings[1].content_descriptions.length - 1) { allDescriptions += ', '; } });
            %>
            <h5>Content Warnings: <%= allDescriptions.trim() %></h5>
            <% } catch (error) { %> None to be listed <% } %>
          </div>
      
          <div class="user-ratings">
            <h5>User Ratings: <%= IGDB[0].aggregated_rating %></h5>
          </div>
        </div>
      
        <div>
          <a href="/reviews/<%= IGDB[0].id %>" class="btn btn-danger">Check User Reviews!</a>
        </div>
      </div>
      <div style="display: flex;">

        <div style="flex: 0 0 auto;">
          <img
            src="<%= 'https://images.igdb.com/igdb/image/upload/t_cover_big/' + IGDB[0].cover.image_id + '.jpg' %>"
            alt="Game Screenshot"
            height="500"
          />
        </div>
      
        <div style="position: relative; flex: 1 1 auto;">
      
          <div
            id="screenshot-carousel"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <% IGDB[0].screenshots.forEach((screenshot, index) => { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img
                  src="<%= 'https://images.igdb.com/igdb/image/upload/t_screenshot_big/' + screenshot.image_id + '.jpg' %>"
                  class="d-block w-100"
                  alt="Screenshot"
                  height="500"
                />
              </div>
              <% }); %>
            </div>
            <a
              class="carousel-control-prev"
              href="#screenshot-carousel"
              role="button"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#screenshot-carousel"
              role="button"
              data-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div id = "summary" style="padding-top: 5px;">      <h6><%= IGDB[0].summary %></h6>
      </div>

      <div class="where-to-buy">
        <h1>Where to Buy:</h1>
        <h2>
          <a  class="btn btn-danger" href="https://www.target.com/s?searchTerm=<%= IGDB[0].name %>" target="_blank">Target</a>
        </h2>
        <h2>
          <a  class="btn btn-danger" href="https://www.amazon.com/s?k=<%= IGDB[0].name %>" target="_blank">Amazon</a>
        </h2>
        <h2>
          <a  class="btn btn-danger" href="https://www.gamestop.com/search/?q=<%= IGDB[0].name %>" target="_blank">GameStop</a>
        </h2>
      </div>
    </div>
  </div>
  <div id = "whitespace" style="height: 50px;">

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#screenshot-carousel").carousel();
    });
  </script>
</main>

<%- include ('../partials/footer') %>
