<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<!-- <main>
  <div class="container">
    <h1>Profile</h1>

    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>First Name: <%= user.firstname %></p>
    <p>Last Name: <%= user.lastname %></p>
    
    </form>
  </div>
</main> -->
<main class="container mt-5">
  <h1 class="mb-4">Profile</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Information</h5>
          <p class="card-text">Username: <%= user.username %></p>
          <p class="card-text">Email: <%= user.email %></p>
          <p class="card-text">First Name: <%= user.firstname %></p>
          <p class="card-text">Last Name: <%= user.lastname %></p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
