<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div>
        <!-- List of game reviews goes here -->
        <h1>Reviews for <a href="/game/<%=gameID %>"><%= gameName %></a></h1>
        <h5>Average User rating: <%= (reviews.reduce((acc, curr) => acc + curr.rating, 0)) / reviews.length %> &#9733;s </h5>
        <table>
            <tr>
                <th>Username</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
            <% reviews.forEach((review, index) => { %>
                <tr>
                    <td><%= review.username %></td>
                    <td><%= review.reviewtext %></td>
                    <td><%= review.rating %></td>
                </tr>
            <% }); %>
        </table>
    </div>
    <form method="POST" action="/addReviews/<%= gameID %>">
        <input type="text" name="review" placeholder="Write a review...">
        <input type="number" name="rating" placeholder="Rating (1-5)">
        <button type="submit">Submit</button>
    </form>
</main>

<%- include ('../partials/footer') %>