<%- include ('../partials/head') %>
<%- include ('../partials/loMenu') %>

<main>
    <div class="container">
      <h1>Reviews for Game</h1>
      <div class="fixed-size-container" style="width: 100%; display: flex; overflow-x: auto; box-sizing: border-box;">
        <div class="hide-scrollbar overflow-x-scroll" style="white-space: nowrap; display: flex;">
          <% reviews.forEach(review => { %>
            <div style="flex: 1; white-space: normal; margin-right: 10px;">
              <div class="card" style="width: 18rem; display: flex; flex-direction: column; height: 100%;">
                <!-- <img src="<%= review.game.cover.url %>" class="card-img-top" alt="<%= review.game.name %>"/> -->
                <div class="card-body" style="flex: 1;">
                  <h5 class="card-title"><%= review.game.name %></h5>
                  <p class="card-text" style="flex: 1;">
                    <% review.game.genres.forEach((genre, index) => { %> <%=
                    `${genre.name}${index < review.game.genres.length - 1 ? ',' : ''} ` %>
                    <% }); %>
                  </p>
                  <!-- Review Details -->
                  <p>User: <%= review.userName</p>
                  <p>Rating: <%= review.rating %>/5</p>
                  <p><%= review.reviewText %></p>
                  <p>Date: <%= review.timeCreated %>/5</p>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </main>

<%- include ('../partials/footer') %>